body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.navbar-cont-1 {
    display: flex;
    height: 4rem;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.nav-logo-btn {
    background-color: black;
    border: none;
}

.logo-img {
    background: transparent;
    height: 7rem;
}

.navbar-cont-2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;

}

.nav-link {
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    font-size: 1rem;
}



@media(width > 1800px) {
    .nav-link {
        font-size: 1.2rem;
    }

    .navbar-cont-2 {
        height: 3.2rem;
    }

    .nav-search {
        width: 400px;
        height: 1.8rem;
        border-radius: 20px;
    }

    ::placeholder {
        font-size: 1.4rem;
    }
}

@media(width > 2200px) {
    .nav-link {
        font-size: 1.5rem;
    }

    .navbar-cont-2 {
        height: 4.5rem;
    }

    .nav-search {
        width: 400px;
        height: 2rem;
        border-radius: 20px;
    }

    ::placeholder {
        font-size: 1.4rem;
    }
}


.nav-search {
    background-color: white;
    border-radius: 15px;
    height: 1.5rem;
    width: 200px;
    font-size: 1rem;
    align-content: center;

}

.nav-link:hover {
    color: rgb(88, 240, 0);
}

.about-cont1 {
    width: 86%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.about-cont2 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 100px;

}


.about-cont2 h1 {
    font-size: 60px;
}

.about-cont2 p {
    font-size: 30px;
}

.about-cont6 {
    width: 86%;
    margin: 0 auto;
    margin-top: 40px;
    color: rgb(255, 255, 255);
}

.about-cont6 h1 {
    color: black;
}



.teamcont h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
}

.imgcont {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 100px;
}

.img1 {
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    /* height: 80vh; */
    margin-top: 40px;
    border-radius: 20px;
}

.img1 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    margin-top: 16%;
}

.teamcont h1 {
    font-size: 3.4rem;
}

.teamcont p {
    font-size: 1.2rem;
    color: rgb(218, 196, 134);
    text-align: center;
}

.first-card {
    background-color: rgb(255, 255, 255);

}

.second-card {
    background-color: rgb(255, 255, 255);
}

.third-card {
    background-color: rgb(255, 255, 255);
}

.first-card p {
    color: rgb(115, 175, 175);
}

.second-card p {
    color: rgb(175, 161, 115);
}

.third-card p {
    color: rgb(175, 98, 84);
}

.img1 h1 {
    font-size: 2.6rem;
}

@media (width>2200px) {
    .about-cont1 {
        width: 50%;
    }

    .about-cont6 {
        width: 60%;
    }
}