*{
    text-decoration:none;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.navbar-cont-1 {
    display: flex;
    height: 4rem;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.nav-logo-btn {
    background-color: rgb(0, 0, 0);
    border: none;
}

.logo-img {
    background: transparent;
    height: 7rem;
}

.navbar-cont-2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;
}

.nav-link {
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 700;
    background-color: transparent;
    font-size: 1rem;
}

.nav-search {
    background-color: white;
    border-radius: 15px;
    height: 1.5rem;
    width: 200px;
    font-size: 1rem;
    align-content: center;

}

.home-img {
    height: 90vh;
    width: 100vw;

}

.img-container1 {
    align-content: center;
    justify-content: center;
    background-image: url("../images/coder2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed    ;
    
}

.head1 {
    height: 100vh;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 300;
}

.head1 h1{
    display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top:0;
   font-size: 7rem;
   padding-top:2rem;
   margin-right: 2%;
    color: transparent;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 4px;    
}

.navbar-container{
    width: 100%;
}

.features-container {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0 auto;

}

::placeholder {
    text-align: center;
}

.features {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 700;
}

.feature-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    /* display: flex;
    justify-content: space-around; */
    width: 100%;
}

.card {
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
    padding: 0 0 100px 0;
    border:4px solid rgb(27, 25, 25);
    transition: 0.4s;
    height: 50vh;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.678), inset -20px -20px 40px rgba(255, 255, 255, 0.705);
}

@media (width<1100px){
  .feature-card{
    display: flex;
    flex-direction:column;
    
}

.card{
    padding-bottom: 100px;
    
}
}



@media(width > 1800px)
{
    .nav-link{
        font-size: 1.2rem;
    }
    .navbar-cont-2{
        height:3.2rem;
    }
    .nav-search{
        width: 400px;
        height:1.8rem;
        border-radius: 20px;
    }
    ::placeholder{
        font-size: 1.4rem;
    }
}

@media(width > 2200px)
{
    .nav-link{
        font-size: 1.5rem;
    }
    .navbar-cont-2{
        height:4.5rem;
    }
    .nav-search{
        width: 400px;
        height:2rem;
        border-radius: 20px;
    }
    ::placeholder{
        font-size: 1.4rem;
    }
}



.card:hover{
    box-shadow: 8px 8px 20px blueviolet;
    scale: 1.1;
}

.card h3 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;

}

.card img {
    border-radius: 50px;
    width: 100%;
    max-height: 80%;
}

.content {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 35px;
    width: 86%;
    margin: 100px auto;
    text-align: center;
    flex-direction: column;
}

.join-btn {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.678), inset -20px -20px 40px rgba(255, 255, 255, 0.705);
}

footer {
    background-color: #060618;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(151, 144, 144);


}
.login-btn{
    color: rgb(21, 255, 0);
}
.footer-cont-1 {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-logo img {
    height: 200px;

}

.footer-donation {
    font-size: 1.5rem;
}

.footer-cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-cont-2 img {
    display: flex;
    margin: 4px;
    width: 40px;
}


.nav-link:hover {
    color: rgb(88, 240, 0);
}

.join-btn:hover {
    background-color: #0077ff;
}

.card h3 {
    font-size: 1.5rem;
}


.card-btn{
    border-radius: 50px;
}