body {
    background-color: rgb(32, 28, 42);
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    flex-direction: column;

}

.navbar-cont-1 {
    display: flex;
    height: 3rem;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.nav-logo-btn {
    background-color: black;
    border: none;
}

.logo-img {
    background: transparent;
    height: 5rem;
}

.navbar-cont-2 {
    display: flex;
    background-color: rgb(39, 39, 47);
    justify-content: space-evenly;
    align-items: center;
    height: 2.5rem;
}

.nav-link {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.nav-search {
    background-color: white;
    border-radius: 15px;
    height: 1.5rem;
    width: 200px;
    font-size: 1rem;
    align-content: center;

}

.home-img {
    height: 90vh;
    width: 100vw;

}

.img-container1 {
    align-content: center;
    justify-content: center;
    height: 90vh;
    background-image: url("1010111.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head1 {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    font-size: 2.5rem;
    color: rgb(102, 255, 0);
    font-family: sans-serif;
    font-weight: 300;
}

.features-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 86%;
    margin: 0 auto;

}

::placeholder{
    text-align: center;
}

.features {
    font-size: 3rem;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}
    
.feature-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 60vh;


}

.card {
    background-color: #0c0e31;
    border-radius: 50px;
    text-align: center;
    padding: 0 0;
}

.card h3 {
    color: white;
    font-family: sans-serif;

}

.card img {
    border-radius: 50px;
}

.content {
    height: 40vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 35px;
    width: 86%;
    margin: 100px auto;
    text-align: center;
    flex-direction: column;
}

.join-btn {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #0057FF;
    color: white;
    border: none;
}

footer {
    background-color: #060618;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(151, 144, 144);


}

.footer-cont-1 {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-logo img {
    height: 200px;

}

.footer-donation {
    font-size: 1.5rem;
}

.footer-cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-cont-2 img {
    display: flex;
    margin: 4px;
    width: 40px;
}


.nav-link:hover {
    color: rgb(88, 240, 0);
}

.join-btn:hover {
    background-color: #002369;
}

.card h3 {
    font-size: 1.5rem;
}